.v-main {
    min-height: calc(100svh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.v-card {
    width: min(80%, 450px);
}

@media screen and (max-width: 300px) {
    #version_info {
        display: none;
    }   
}

