.icon-link,
.icon-link:visited,
.icon-link:hover,
.icon-link:active {
    color: #ffffff;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-center {
    text-align: center;
}

.v-card-title,
.v-card-subtitle {
    white-space: normal !important;
}
